{% extends 'base.html' %}
{% load index %}
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
{% block content %}
  <!-- Main Layout -->
  <main>

    <!-- Main Container -->
    <div class="container">

      <!-- Section cart -->
      <section class="section my-5 pb-5">

        <div class="card card-ecommerce">

          <div class="card-body">

            <!-- Shopping Cart table -->
            <div class="table-responsive">

              <table class="table product-table table-cart-v-2">

                <!-- Table head -->
                <thead class="mdb-color lighten-5">

                  <tr>

                    <th></th>

                    <th class="font-weight-bold">

                      <strong>Product</strong>

                    </th>

                    <th class="font-weight-bold">

                      <strong>Color</strong>

                    </th>

                    <th></th>

                    <th class="font-weight-bold">

                      <strong>Price</strong>

                    </th>

                    <th class="font-weight-bold">

                      <strong>QTY</strong>

                    </th>

                    <th class="font-weight-bold">

                      <strong>Amount</strong>

                    </th>

                    <th></th>

                  </tr>

                </thead>
                <!-- Table head -->

                <!-- Table body -->
                <tbody>

                {% for product in products %}

                  <!-- First row -->
                  <tr>
                    <td scope="row"><img src="{{product|index:4}}" ></td>
                      <td>
                      <h5 class="mt-3">
                        <strong>{{product|index:0}}</strong>
                      </h5>
                    </td>
                    <!-- <td>{{product.name}}</td> -->
                    <td>White</td> 
                    <td></td>
                
                    <td>${{product|index:1}}</td>
                
                    <td class="text-center text-md-left">

                      <span class="qty">{{product|index:2}} </span>

                      <div class="btn-group radio-group ml-2" >

                        <button type="button" class="btn btn-sm btn-primary btn-rounded" >
                          <a style="color: white; font-size:larger;" href="removequantity/{{product|index:5}}">-</a>
                        </button> 
                        <button type="button" class="btn btn-sm btn-primary btn-rounded" >
                          <a style="color: white; font-size:larger;" href="addquantity/{{product|index:5}}">+</a>
                        </button>
                      </div>

                    </td>

                    <td class="font-weight-bold">
                      <strong>{{product|index:3}}</strong>

                    </td>

                    <td>

                      <button type="button" class="btn btn-sm btn-primary " data-toggle="tooltip" data-placement="top" name=""
                        title="Remove item">
                        <a style="color: white;font-size:larger" href="delete/{{product|index:5}}">X</a>

                      </button>
                  
                    </td>


                  </tr>
                  <!-- First row -->
                  {% endfor %}
        
                  <tr>

                    <td colspan="3"></td>

                    <td>

                      <h4 class="mt-2">

                        <strong>Total</strong>

                      </h4>

                    </td>

                    <td class="text-right">

                      <h4 class="mt-2">

                        <strong>{{total}}</strong>

                      </h4>

                    </td>

                    <td colspan="3" class="text-right">

                      <button type="button" class="btn btn-primary btn-rounded">Complete purchase

                        <i class="fas fa-angle-right right"></i>

                      </button>

                    </td>

                  </tr>
                  <!-- Fourth row -->

                </tbody>
                <!-- Table body -->

              </table>

            </div>
            <!-- Shopping Cart table -->

          </div>

        </div>

      </section>
      <!-- Section cart -->

      <!-- Section products -->
      
      <!-- Section products -->

    </div>
    <!-- Main Container -->

  </main>
  <!-- Main Layout -->

{% endblock %}
