  {% extends 'base.html' %}
  {% load index %}
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  {% block content %}
  <!-- Main Layout -->
  <main>

    
    <!-- Main Container -->
    <div class="container">

      <!-- Section cart -->
      <section class="section my-4 pb-4">
        {% if products %}

        <div class="card card-ecommerce">

          <div class="card-body">

            <!-- Shopping Cart table -->
            <div class="table-responsive">

              <table class="table product-table table-cart-v-2">

                <!-- Table head -->
                <thead class="mdb-color lighten-5">

                  <tr>

                    <th></th>

                    <th class="font-weight-bold">

                      <strong>Product</strong>

                    </th>

                    <th class="font-weight-bold">

                      <strong>Color</strong>

                    </th>

                    <th></th>

                    <th class="font-weight-bold">

                      <strong>Price</strong>

                    </th>

                    <th class="font-weight-bold">

                      <strong>QTY</strong>

                    </th>

                    <th class="font-weight-bold">

                      <strong>Amount</strong>

                    </th>

                    <th></th>

                  </tr>

                </thead>
                <!-- Table head -->

                <!-- Table body -->
                <tbody>

                {% for product in products %}

                  <!-- First row -->
                  <tr>
                    <td scope="row">
                    <a href="/product/{{product|index:7}}">
                    <div class="view overlay" style="height:150px;  overflow: hidden;">
                        <img src="{{product|index:4}}" >
                      </a>
                    </div>
                    </td>
                      <td>
                      <h6 class="mt-3">
                        <strong>{{product|index:0}}</strong>
                      </h6>
                    </td>
                    <td>{{product|index:6}}</td> 
                    <td></td>
                
                    <td>{{product|index:1}}&#x20b9;</td>
                
                    <td class="text-center text-md-left">

                      <span class="qty">{{product|index:2}} </span>

                      <div  class="btn-group radio-group ml-2" >
                      
                          <a type="button" class="btn btn-sm btn-primary btn-rounded" style="color: white; margin-left: 0; " href="removequantity/{{product|index:5}}">-</a>
                     
                          <a type="button" class="btn btn-sm btn-primary btn-rounded" style="color: white; margin-left: 0;" href="addquantity/{{product|index:5}}">+</a>
                      
                      </div>

                    </td>

                    <td class="font-weight-bold">
                      <strong>{{product|index:3}}&#x20b9;</strong>

                    </td>

                    <td>

                        <a type="button" class="btn btn-sm btn-primary " style="color: white;" href="delete/{{product|index:5}}">X</a>

                  
                    </td>


                  </tr>
                  {% endfor %}
                  <tr>
                    <td colspan="3"></td>
                    <td>
                      <h4 class="mt-2">
                        <strong>Total:</strong>
                      </h4>
                    </td>
                    <td class="text-right">
                      <h4 class="mt-2">
                        <strong>{{total}}&#x20b9;</strong>
                      </h4>
                    </td>
                    <td colspan="3" class="text-right">
                        <a href="/checkout">
                      <button type="button" class="btn btn-primary btn-rounded">Complete purchase
                        <i class="fas fa-angle-right right"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      {% else %}
          <h1 class="text-center">
            Your basket is empty!

            <a href="/shop">
            <button type="button" class="btn btn-primary btn-rounded">Countinue Shopping
                    <i class="fas fa-angle-right right"></i>
            </button></a>
          </h1> 
      {% endif %}
      </section>
    </div>
    

   
  </main>
{% endblock %}
