{% extends 'base.html' %}
{% load static %}
 {% load index %}
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
{% block content %}

 <main class="mt-5 pt-4">
    <div class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="my-4 h2 text-center">Checkout Form</h2>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-8 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card content-->
            <form class="card-body">

              <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div class="col-md-6 mb-2">

                  <!--firstName-->
                  {% comment %} <div class="md-form ">
                    <input type="text" id="firstName"value="{{customer.firstname}}" class="form-control">
                    <label for="firstName" class="">First name</label>
                  </div> {% endcomment %}

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6 mb-2">

                  <!--lastName-->
                  {% comment %} <div class="md-form">
                    <input type="text" id="lastName"value="{{customer.lastname}}" class="form-control">
                    <label for="lastName" class="">Last name</label>
                  </div> {% endcomment %}

                </div>
                <!--Grid column-->

              </div>
              <!--Grid row-->

              <!--Username-->
              <!-- <div class="md-form input-group pl-0 mb-5">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">@</span>
                </div>
                <input type="text" class="form-control py-0" placeholder="Username"value="{{customer.firstname}}&nbsp;{{customer.lastname}}" aria-describedby="basic-addon1">
              </div>

              email-->
              {% comment %} <div class="md-form mb-5">
                <input type="text" id="email" class="form-control" value="{{customer.email}}"placeholder="youremail@example.com">
                <label for="email" class="">Email (optional)</label>
              </div> {% endcomment %}

              <!--address-->
              <div class="md-form mb-5">
                <input type="text" id="address" class="form-control"value="{{address.first_len}}" placeholder="1234 Main St">
                <label for="address" class="">Address</label>
              </div>

              <!--address-2-->
              <div class="md-form mb-5">
                <input type="text" id="address-2" class="form-control" value="{{address.second_len}}" placeholder="Apartment or suite">
                <label for="address-2" class="">Address 2 (optional)</label>
              </div>

              <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4">

                  <label for="country">City</label>
                  <input type="text" id="address-2" class="form-control" value="{{address.city}}">

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                  <label for="state">State</label>
                  <input type="text" id="address-2" class="form-control" value="{{address.state}}">


                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                  <label for="Pincode">Zip</label>
                  <input type="text" class="form-control" id="pincode" value="{{address.pincode}}" placeholder="pincode..." required>
                  <div class="invalid-feedback">
                    Zip code required.
                  </div>

                </div>
                <!--Grid column-->

              </div>
              <!--Grid row-->

        
              <!-- <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="save-info">
                <label class="custom-control-label" for="save-info">Save this information for next time</label>
              </div> -->

              <!-- <hr> -->

              <!-- <div class="d-block my-3">
                <div class="custom-control custom-radio">
                  <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                  <label class="custom-control-label" for="credit">Credit card</label>
                </div>
                <div class="custom-control custom-radio">
                  <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                  <label class="custom-control-label" for="debit">Debit card</label>
                </div>
                <div class="custom-control custom-radio">
                  <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
                  <label class="custom-control-label" for="paypal">Paypal</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="cc-name">Name on card</label>
                  <input type="text" class="form-control" id="cc-name" placeholder="" required>
                  <small class="text-muted">Full name as displayed on card</small>
                  <div class="invalid-feedback">
                    Name on card is required
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="cc-number">Credit card number</label>
                  <input type="text" class="form-control" id="cc-number" placeholder="" required>
                  <div class="invalid-feedback">
                    Credit card number is required
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 mb-3">
                  <label for="cc-expiration">Expiration</label>
                  <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                  <div class="invalid-feedback">
                    Expiration date required
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <label for="cc-expiration">CVV</label>
                  <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                  <div class="invalid-feedback">
                    Security code required
                  </div>
                </div>
              </div> -->
              <span class="mb-3">
              <a href="/receipt" class="btn btn-primary btn-lg btn-block" type="submit">
                Continue to checkout
              </a>
            </form>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <div class="col-md-4 mb-4" >

          <!-- Heading -->
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            <span class="badge badge-secondary badge-pill">{{totalQuantity}}</span>
          </h4>

          <!-- Cart -->
          <ul class="list-group mb-3 z-depth-1">
          <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
              Name
              </div>
              <div>
              <span> Qty.
              </span>
              <span class="ml-4">
                    Unit Price
              </span>
              </div>
          </li>
          {% for product in products %}
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">{{product|index:0}}</h6>
                {% comment %} <small class="text-muted">Brief description</small> {% endcomment %}
              </div>
              <div><span class="text-muted">{{product|index:2}}</span>
              <span class="text-muted ml-5">{{product|index:1}}&#x20b9;</span>
              </div>
            </li>
           {% endfor %}
           {% if promo %}
            <li class="list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
                <h6 class="my-0">Promo code</h6>
                <small>EXAMPLECODE</small>
              </div>
              <span class="text-success">-$5</span>
            </li>
            {% endif %}
            <li class="list-group-item d-flex justify-content-between">
              <span>Total </span>
              <strong>{{total}}&#x20b9;</strong>
            </li>
          </ul>
          <!-- Cart -->

          <!-- Promo code -->
          {% comment %} <form class="card p-2">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Promo code" aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-secondary btn-md waves-effect m-0" type="button">Redeem</button>
              </div>
            </div>
          </form> {% endcomment %}
          <!-- Promo code -->

        </div>
        
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  
{% endblock content %}