<!DOCTYPE html>
{% load static %}
{% load index %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="icon" href="../static/images/favicon.png" type="image/x-icon"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/css/mdb.min.css" rel="stylesheet">
  <link type="text/css" href="../static/css/style.css" rel="stylesheet">
  <style>

    .alert {
        background-color: #f44336;
        padding: .50rem,1.25rem;
        color: white;
    }
    
    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }
    
    .closebtn:hover {
        color: white;
    }
      .btn-toggle-pass {
          --info-color: #0099CC;
          border: none;
          position: absolute;
          top: 11px;
          background: transparent;
          right: 0;
      }
    
      .btn-toggle-pass.active {
          color: var(--info-color);
      }
     </style>

</head>

<body class="homepage-v1 hidden-sn white-skin animated">

  <header>
  <nav class="fixed-top navbar-expand-lg scrolling-navbar" style="height: 70px;">
      <div class="menu-icon">
        <span class="fas fa-bars"></span></div>
      <div class="logo">PYS</div>
        <div class="nav-items">
          <li class="nav-item ml-3">
            <a href="/shop">
              Shop
            </a>
          </li>
         <li class="nav-item ml-3">
            <a href="/cart">
              <span class="badge danger-color">{{carttotalq}}</span>
              <img src="../static/images/svg/shopping-cart.svg" 
              alt="cart_svg" style="height: 22px;padding-bottom: 3px;">&nbsp; Cart
            </a>
          </li>
          <li class="nav-item dropdown-animating show" style="position: relative;">

            <a class="dropdown-toggle waves-effect"
              id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

              <img src="https://img.icons8.com/ios-glyphs/30/000000/user--v1.png"
              alt="cart_svg" style="height: 20px;padding-bottom: 3px;">&nbsp; Hello, {{name}} </a>

            <div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">

              <a class="dropdown-item waves-effect waves-light" href="/myaccount">My account</a>
              <a class="dropdown-item waves-effect waves-light" href="/myorder">My Order</a>

              <a class="dropdown-item waves-effect waves-light" href="/logout">Log out</a>

            </div>

            
          </li>
          <li class="nav-item dropdown-animating show" style="position: relative;">

            <a class="dropdown-toggle waves-effect"
              id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="tue">
              <img src="https://img.icons8.com/ios-glyphs/30/000000/filter.png"
              alt="cart_svg" style="height: 20px;padding-bottom: 3px;"/>&nbsp; Filter</a>

            <div class="dropdown-menu dropdown-menu-center dropdown-cyan" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item waves-effect waves-light" href="/myorder">All Order</a>
              <a class="dropdown-item waves-effect waves-light" href="/filter/1">Ordered</a>
              <a class="dropdown-item waves-effect waves-light" href="/filter/2">Delivered</a>
              <a class="dropdown-item waves-effect waves-light" href="/filter/3">Returned</a>
              <a class="dropdown-item waves-effect waves-light" href="/filter/4">Canceled</a>
            </div>

          </li>
          
        </div>
        <div class="search-icon">
          <span class="fas fa-search"></span>
          </div>
          <div class="cancel-icon">
          <span class="fas fa-times"></span>
          </div>
        <form action="/search/" method="POST">
        {% csrf_token %}
          <input type="search" name="searchq" class="search-data" placeholder="Search">
          <button type="submit" class="fas fa-search"></button>
        </form>
      </nav>
      
    </header>
 
  <main>
    
  <!-- Main Container -->
  <div class="container">
    {% if messages %}
    {% for message in messages %}
    <div class=alert><span class=closebtn onclick="this.parentElement.style.display='none'">&times;</span>
        <strong>{{ message }} </strong></div>
    {% endfor %}
    {% endif %}
    <!-- Section cart -->
    <section class="section my-4 pb-4">
      {% if products %}
      <div class="card card-ecommerce">

        <div class="card-body">

          <!-- Shopping Cart table -->
          <div class="table-responsive">

            <table class="table product-table table-cart-v-2">

              <!-- Table head -->
              <thead class="mdb-color lighten-5">

                <tr>

                  <th></th>

                  <th class="font-weight-bold">

                    <strong>Product</strong>

                  </th>
                  <th class="font-weight-bold">

                    <strong>Date</strong>

                  </th>

                  <th class="font-weight-bold">

                    <strong>Status</strong>

                  </th>

                  <th class="font-weight-bold">

                    <strong>Price</strong>

                  </th>

                  <th class="font-weight-bold">

                    <strong>QTY</strong>

                  </th>

                  <th class="font-weight-bold">

                    <strong>Amount</strong>

                  </th>
                  <th></th>
                </tr>

              </thead>
              <tbody>

              {% for product in products %}

                <!-- First row -->
                <tr>
                  <td scope="row">
                  <a href="/rating/{{product|index:8}}">
                  <div class="view overlay" style="height:150px;  overflow: hidden;">
                      <img src="{{product|index:4}}" >
                    </a>
                  </div>
                  </td>
                    <td>
                    <h6 class="mt-3">
                      <strong>{{product|index:0}}</strong>
                    </h6>
                  </td>
                  <td>{{product|index:9}}</td>
                  <td class="font-weight-bold">{{product|index:6}}</td>
              
                  <td>{{product|index:1}}&#x20b9;</td>
              
                  <td>{{product|index:2}}</td>
                  <td class="font-weight-bold">
                    <strong>{{product|index:3}}&#x20b9;</strong>

                  </td>
                  <td>
                        <a type="button" class="btn btn-sm btn-outline-primary waves-effect" style="color: white;" href="/returnproduct/{{product|index:7}}">{{product|index:10}}</a>
                  </td>

                </tr>
                {% endfor %}
                
              </tbody>
            </table>
          </div>
        </div>
        {% else %}
        <h1 class="text-center">
          Nothing in this box yet!

          <a href="/shop">
          <button type="button" class="btn btn-primary btn-rounded">Countinue Shopping
                <i class="fas fa-angle-right right"></i>
          </button></a>
        </h1> 
    {% endif %}
    </section>
  </div>
</main>
 <footer class="page-footer text-center text-md-left stylish-color-dark pt-0">
    
    <!-- background-color: #4285f4 -->
    <div style=" background-image: linear-gradient(to right, purple , white);">

      <div class="container">

        <!-- Grid row -->
        <div class="row py-4 d-flex align-items-center">

          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">

            <h6 class="mb-0 white-text">Get connected with us on social networks!</h6>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">

            <!-- Facebook -->
            <a class="fb-ic ml-0 px-2" href="https://www.facebook.com/">

              <img src="../static/images/svg/facebook-round-color.svg" alt="cart_svg" style="height: 30px;" >
            </a>

            <!-- Twitter -->
            <a class="tw-ic px-2"href="https://www.twitter.com/">

              <img src="../static/images/svg/twitter-round-color.svg" alt="cart_svg" style="height: 30px;" >
            </a>

            <!-- Linkedin-->
            <a class="gplus-ic px-2"href="https://www.linkedin.com/">

              <img src="../static/images/svg/linkedin-round-color.svg" alt="cart_svg" style="height: 30px;" >
            </a>

            <!-- Instagram -->
            <a class="li-ic px-2"href="https://www.instagram.com/">


              <img src="../static/images/svg/instagram-round-color.svg" alt="cart_svg" style="height: 30px;" >
            </a>

            <!-- Telegram -->
            <a class="ins-ic px-2"href="https://www.google.com/">

              <img src="../static/images/svg/icons8-google.svg" alt="cart_svg" style="height: 30px;" >
            </a>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>

    </div>

    <!-- Footer Links -->
    <div class="container mt-5 mb-4 text-center text-md-left">

      <div class="row mt-3">

        <!-- First column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

          <h6 class="text-uppercase font-weight-bold">

            <strong>PYS</strong>

          </h6>

          <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

          <p>Welcome to PYS clothes shopping website.Here you can 
          find fancy, stylish and colorful clothes.We have clothes for Men, Women and Kids.</p>

        </div>
        <!-- First column -->

        <!-- Second column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

          <h6 class="text-uppercase font-weight-bold">

            <strong>Products</strong>

          </h6>

          <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

          <p>

            <a href="#!">Shirts and Tshirts</a>

          </p>

          <p>

            <a href="#!">Dresses</a>

          </p>

          <p>

            <a href="#!">Jackets</a>

          </p>

        </div>
        <!-- Second column -->

        <!-- Third column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

          <h6 class="text-uppercase font-weight-bold">

            <strong>Useful links</strong>

          </h6>

          <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

          <p>

            <a href="/myaccount">Your Account</a>

          </p>
          <p>

            <a href="/contact">Help</a>

          </p>

        </div>
        <!-- Third column -->

        <!-- Fourth column -->
        <div class="col-md-4 col-lg-3 col-xl-3">

          <h6 class="text-uppercase font-weight-bold">

            <strong>Contact</strong>

          </h6>

          <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

          <p>

            <img src="../static/images/svg/icons8-home.svg" alt="cart_svg" style="height: 23px;">&nbsp;  Surat, Gujarat, India</p>

          <p>

            <img src="https://img.icons8.com/ios-glyphs/30/ffffff/filled-message.png" alt="cart_svg" style="height: 20px;width:20px">&nbsp;  pysservices1305@gmail.com</p>

          <p>

            <img src="https://img.icons8.com/ios-filled/30/ffffff/headset.png" alt="cart_svg" style="height: 22px;"/>&nbsp; +91 9033925646</p>

          <p>

            <img src="https://img.icons8.com/ios-filled/30/ffffff/headset.png" alt="cart_svg" style="height: 22px;"/>&nbsp; +91 8155961245</p>
          
        </div>

      </div>

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright py-3 text-center">

      <div class="container-fluid">

    &copy; <script>document.write(new Date().getFullYear());</script> Copyright: <a href="/shop" target="_blank"> PYS.com </a>

      </div>

    </div>
    <!-- Copyright -->

  </footer>
  <script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="../static/js/popper.min.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap.min.js">
  </script>
  <script type="text/javascript" src="../static/js/mdb.min.js"></script>  
</body>

</html>
