{% extends 'base.html' %}
  {% load index %}
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  {% block content %}
  <!-- Main layout -->
  <main>

    <div class="container-fluid">

      <!-- Section: Heading -->
      <section class="mb-4">

        <div class="card">
          <div class="card-body d-flex justify-content-between">
            <h4 class="h4-responsive mt-3">Invoice #124190</h4>

            <div>
              <a href="#" class="btn btn-secondary">Pay now</a>
              <a href="#" class="btn btn-primary"><i class="fas fa-print left"></i> Print</a>
            </div>

          </div>
        </div>

      </section>
      <!-- Section: Heading -->

      <!-- Section: Invoice details -->
      <section class="mb-4">

        <div class="card">
          <div class="card-body">

            <!-- Grid row -->
            <div class="row">

              <!-- Grid column -->
              <div class="col-md-6 text-left">

                <p><small>From:</small></p>
                <p><strong>Awesome Company Inc</strong></p>
                <p>134 Richardson Ave</p>
                <p>San Francisco, CA 94123</p>
                <p><strong>Invoice date:</strong> November 18, 2016</p>
                <p><strong>Due date:</strong> December 2, 2016</p>

              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-6 text-right">

                <h4 class="h4-responsive"><small>Invoice No.</small><br /><strong><span class="blue-text">#124190</span></strong></h4>

                <p><small>To:</small></p>
                <p><strong>The Company, Inc</strong></p>
                <p>1-245 East Russel Road</p>
                <p>Munger, MI 48747</p>

              </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row -->

          </div>
        </div>

      </section>
      <!-- Section: Invoice details -->

      <!-- Section: Invoice table -->
      <section class="mb-5">

        <div class="card">
          <div class="card-body">

            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Item list</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Tax</th>
                    <th>Total price</th>
                  </tr>
                </thead>
                <tbody>
                {% for product in products%}
                  <tr>
                    <td>{{product|index:0}}</td>
                    <td>{{product|index:2}}</td>
                    <td>{{product|index:1}}&#x20b9;</td>
                    <td>{{product|index:4}}&#x20b9;</td>
                    <td>{{product|index:3}}&#x20b9;</td>
                  </tr>
              {% endfor %}

                </tbody>
              </table>
            </div>

            <ul class="list-unstyled text-right">
              <li><strong>Sub Total:</strong><span class="float-right ml-3">{{subtotal}}&#x20b9;</span></li>
              <li><strong>TAX:</strong><span class="float-right ml-3">{{totaltax}}&#x20b9;</span></li>
              <li><strong>TOTAL:</strong><span class="float-right ml-3">{{total}}&#x20b9;</span></li>
            </ul>

          </div>
        </div>

      </section>
      <!-- Section: Invoice table -->

    </div>

  </main>
  <!-- Main layout -->
{% endblock %}

  {% comment %} {% extends 'base.html' %}
  {% load index %}
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  {% block content %}
  <!-- Main Layout -->
  <main>
<!-- <div class="container " style="max-width: 700px;" > -->
<div class="container " >
    <div class="row d-flex align-items-center justify-content-center pt-5 mb-5 bg-white">
        <div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <address>
                        <strong>Elf Cafe</strong>
                        <br>
                        2135 Sunset Blvd
                        <br>
                        Los Angeles, CA 90026
                        <br>
                        <abbr title="Phone">P:</abbr> (213) 484-6829
                    </address>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                    <p>
                        <em>Date: 1st November, 2013</em>
                    </p>
                    <p>
                        <em>Receipt #: 34522677W</em>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <h1>Receipt</h1>
                </div>
                </span>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            <tr>
                                <td class="col-md-9"><em>{{product|index:0}}</em></h4></td>
                                <td class="col-md-1" style="text-align: center"> {{product|index:2}}</td>
                                <td class="col-md-1 text-center">{{product|index:1}}&#x20b9;</td>
                                <td class="col-md-1 text-center">{{product|index:3}}&#x20b9;</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td class="text-right">
                            <p>
                                <strong>Subtotal: </strong>
                            </p>
                            <p>
                                <strong>Tax: </strong>
                            </p></td>
                            <td class="text-center">
                            <p>
                                <strong>{{subtotal}}&#x20b9;</strong>
                            </p>
                            <p>
                                <strong>{{tax}}&#x20b9;</strong>
                            </p></td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td class="text-right"><h4><strong>Total: </strong></h4></td>
                            <td class="text-center text-danger"><h4><strong>{{total}}&#x20b9;</strong></h4></td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-success btn-lg btn-block mb-5">
                    Pay Now   <span class="glyphicon glyphicon-chevron-right"></span>
                </button></td>
            </div>
        </div>
    </div>
    </main>
    {% endblock %}  {% endcomment %}