.logform{
    top : 50px;
    margin: auto;
    max-width: 500px;   
}

header {
    --text: rgb(255, 255, 255);
    --text-inverse: #333;
    --background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.75em 1em;
    transition: background 250ms ease-in;
    background: var(--background);
    color: var(--text);
}

.nav-scrolled {
    --text: #333;
    --text-inverse: #f4f4f4;
    --background: #f4f4f4;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}
