.logform{
    top : 50px;
    margin: auto;
    max-width: 500px;   
}

.alert {
    background-color: #f44336;
    padding: .50rem,1.25rem;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: white;
}

.btn-toggle-pass {
    --info-color: #0099CC;
    border: none;
    position: absolute;
    top: 11px;
    background: transparent;
    right: 0;
}

.btn-toggle-pass.active {
    color: var(--info-color);
}